@charset "UTF-8";

html, body {
    color: #333;
}
*:focus {
    outline: 0 !important;
}
h1 small {
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    margin-left: 10px;
}
/*md-sidenav {
    background-color: rgba(121,85,72,0.1);
}*/
md-sidenav h1 {
    font-size: 18px !important;
}
/*textarea {
    font-family: monospace;
}*/
.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}
.coll-icon {
    background-color: rgb(66,66,66);
    border-radius: 50%;
    box-sizing: content-box;
    color: rgba(255,255,255,0.8);
    height: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-top: 8px;
    text-align: center;
    width: 40px;
}
.text-muted {
    color: rgba(0,0,0,0.54);
    font-weight: 400;
}
.headline-margin {
    margin: 24px 0;
}
.accent-color {
    color: #009688 !important;
}
.inline-label {
    margin: 0 5px;
    padding-top: 25px;
}
.pagination-container {
    text-align: center;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #009688;
    float: left;
    line-height: 1.42857143;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #009688;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: default;
}
.key {
    font-style: italic;
    padding-right: 10px;
    white-space: nowrap;
}
.panel table {
    display: block;
    overflow: auto;
    width: 100%;
}
.back-to-top {
    margin: 30px 0 50px 0;
}
